.welcomeBlockA {
    width: 700px;
    height: 150px;
    transform: translateY(-300px);
    box-shadow: 0 5px 30px;
}

.hidden {
    visibility: hidden;
}

.infoBlockA {
    visibility: unset;
    height: 800px;
    transform: translateY(150px);
    box-shadow: 0 5px 30px var(--colorText2);
    padding-top: 140px;
}

.infoPage1A {
    height: 600px;
}

.clockBlockA {
    transform: translateY(-200px);
}

.welcomeContentBottomA {
    display: none;
}

.welcomeContentTopA {
    transform: translateY(10px);
}
