.userAvatarBG1 {
    background-image: url("../design/avatar/avatar1.png");
}

.userAvatarBG2 {
    background-image: url("../design/avatar/avatar2.png");
}

.userAvatarBG3 {
    background-image: url("../design/avatar/avatar3.png");
}

.userAvatarBG4 {
    background-image: url("../design/avatar/avatar4.png");
}

.userAvatarBG5 {
    background-image: url("../design/avatar/avatar5.png");
}

.userAvatarBG6 {
    background-image: url("../design/avatar/avatar6.png");
}

.userAvatarBG7 {
    background-image: url("../design/avatar/avatar7.png");
}

.userAvatarBG8 {
    background-image: url("../design/avatar/avatar8.png");
}

.userAvatarBG9 {
    background-image: url("../design/avatar/avatar9.png");
}

.userAvatarBG10 {
    background-image: url("../design/avatar/avatar10.png");
}

.userAvatarBG11 {
    background-image: url("../design/avatar/avatar11.png");
}

.userAvatarBG12 {
    background-image: url("../design/avatar/avatar12.png");
}

.userAvatarBG13 {
    background-image: url("../design/avatar/avatar13.png");
}

.userAvatarBG14 {
    background-image: url("../design/avatar/avatar14.png");
}

.userAvatarBG15 {
    background-image: url("../design/avatar/avatar15.png");
}